{% extends "layout.html.j2" %}
{% block body %}

<div>
    <h3>Files</h3>
    {% if let Some(files) = files %}
        <ul id="uploaded-files">
            <li><i>... no files here 😢</i></li>
            {% for file in files %}
                {% if let Some(link) = file.link %}
                    <li><a href="{{ link }}">{{ file.name }}</a></li>
                {% else %}
                    <li>{{ file.name }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <p><i>Unfortunatelly, you are not allowed to browse the files within the directory. </i></p>
    {% endif %}
</div>

{% endblock %}
