{% extends "layout.html.j2" %}
{% block body %}
<h1>Gimmethat</h1>
<p>A personal tool for securly ingesting files from other people. With the right link, you can upload any data within the defined size limit.</p>
{% endblock %}
