<!DOCTYPE html>
<html>
<head>
    <title>Gimmethat</title>
    <style>
        body {
            max-width: 40rem;
            font-family: sans-serif;
            margin-left: auto;
            margin-right: auto;
            font-size: 150%;
        }
    </style>
</head>
<body>
    {% block body %}
    {% endblock %}
</body>
</html>