{{ uploaded_bytes }} bytes uploaded
{%if warn_content_length %}Missing Content-Length header!!! Can't verify, that upload completed fully!{% endif %}
{%if warn_size_limit_reached %}Upload is possibly truncated due to a reached upload limit.{% endif %}