{% extends "layout.html.j2" %}
{% block body %}

<div style="display: none" id="share">
    <p>Awesome, now you can send link to this page to anyone.</p>
    <div style="width: 100%; display: flex; flex-direction: row; gap: 0.5rem;">
        <input type="text" value="{{ url }}" id="input" style="flex-grow: 1;">
        <button id="copy">Copy</button>
        <script>
            document.querySelector("#copy").onclick = function () {
                document.querySelector("#input").select();
                document.execCommand("copy");
            };
        </script>
    </div>
    <p>Note: These instructions will not be shown again.
</div>
<script>
    if (window.localStorage['share']) {
        window.localStorage.removeItem('share')
        document.getElementById('share').style.display = "block"
    }
</script>

<p class="center">You can upload up to <b><span id="bytes">{{ maxsize_bytes }} bytes</span></b> of data in as many files as you want.</p>
<p class="center">Link expires in <b><span id="remaining">{{ remaining_sec }} seconds</span></b>.</p>

<div>
    <button class="bigbutton" onclick="document.getElementById('file').click()">&#8594; Upload files &#8592;</button>
    <input type="file" id="file" multiple style="display: none;"/>
    <p class="center" id="status">No files selected...</p>
    <div id="overall" class="progressbar" style="display: none;"><div class="label">0/0</div><div class="bar"></div></div>
    <div id="single-file" class="progressbar" style="display: none;"><div class="label">0/0</div><div class="bar" /></div></div>
</div>

<div>
    <hr>
    <h3>Uploaded files</h3>
    <ul id="uploaded-files">
        <li>... nothing uploaded so far 😢</li>
        {% for name in uploaded_files %}
        <li>{{ name }}</li>
        {% endfor %}
    </ul>
</div>

<div>
    <hr>
    <h3>Upload with curl</h3>
    <p>Do you like doing things from the command line? You can upload with the following command. Click on it to copy it.</p>
    <pre>

$ <code onclick="window.getSelection().selectAllChildren(this); document.execCommand('copy');">curl "{{ url }}" -T path/to/file/to/upload.ext</code>

</pre>
</div>

<script>
    {% include "upload.js.j2" %}
</script>

{% endblock %}
