{% extends "layout.html.j2" %}
{% block body %}

<p class="center">You can upload up to <b><span id="bytes">{{ maxsize_bytes }} bytes</span></b> of data in as many files as you want.</p>
<p class="center">Link expires in <b><span id="remaining">{{ remaining_sec }} seconds</span></b>.</p>

<div>
    <div class="bigbutton" onclick="document.getElementById('file').click()">️&#8594; Upload files &#8592;</div>
    <input type="file" id="file" multiple style="display: none;"/>
    <p class="center" id="status">No files selected...</p>
    <div id="overall" class="progressbar" style="display: none;"><div class="label">0/0</div><div class="bar"></div></div>
    <div id="single-file" class="progressbar" style="display: none;"><div class="label">0/0</div><div class="bar" /></div></div>
</div>

<div>
    <hr>
    <h3>Uploaded files</h3>
    <ul id="uploaded-files">
        <li>... nothing uploaded so far 😢</li>
        {% for name in uploaded_files %}
        <li>{{ name }}</li>
        {% endfor %}
    </ul>
</div>

<div>
    <hr>
    <h3>Upload with curl</h3>
    <p>Do you like doing things from the command line? You can upload with the following command.</p>
    <pre>

$ <code onclick="window.getSelection().selectAllChildren(this)">curl "{{ url }}" -T path/to/file/to/upload.ext</code>

</pre>
</div>

<script>
    {% include "upload.js.j2" %}
</script>

{% endblock %}
